.buttonSesion{
  background-color: $white;
  color: $quick-silver;
  border: 1px solid $outer-space;
  text-align: left;
  padding-right: 30px;
}
.buttonRegistro{
  background-color: $shiny-shamrock;
  color: $white;
  border: 1px solid $outer-space;
  text-align: left;

}
