h1 {
  font-family: $mono;
  font-size: $xxx-large;
  font-weight: $regular;
  color: $black;
}
h2{
  font-family: $roboto;
  font-weight: $ligth;
  font-size:   $large;
}
hgroup{
  padding-left: 3rem;
  padding-top: 4rem;
}
.titlePrincipal{
  font-family: $mono;
  font-size: $xx-large;
  font-weight: $regular;
}
  .titleSecundario {
    font-family: $roboto;
    font-size: $medium;
    font-weight: $ligth;
}
.titlePrincipal2{
  font-family: $mono;
  font-size: $xx-large;
  font-weight: $regular;
}
  .titleSecundario2 {
    font-family: $roboto;
    font-size: $medium;
    font-weight: $ligth;
}
.titlePrincipal3{
  font-family: $mono;
  font-size: $xx-large;
  font-weight: $regular;
}
  .titleSecundario3 {
    font-family: $roboto;
    font-size: $medium;
    font-weight: $ligth;
  }
h3 {
  font-family: $mono;
  font-size: $x-large;
  font-weight: $regular;
}
p {
  font-family: $roboto;
  font-weight: $ligth;
  font-size: $medium;
}
.textcolor{
  font-family: $mono;
  color: $quick-silver !important;
  font-size: $medium;
  font-weight: $regular;
}
